<?xml version="1.0"?>

<ruleset name="WordPress Pay EMS e-Commerce Gateway rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="Generic.CodeAnalysis.EmptyStatement.DetectedCatch">
		<exclude-pattern>src/Listener.php</exclude-pattern>
	</rule>

	<rule ref="PronamicWP">
		<exclude name="Generic.Files.LowercasedFilename.NotFound" />

		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<exclude name="WordPressVIPMinimum.Security.PHPFilterFunctions.MissingThirdParameter" />
	</rule>

	<rule ref="WordPress.DB.SlowDBQuery.slow_db_query_meta_key">
		<exclude-pattern>src/Integration.php</exclude-pattern>
	</rule>
</ruleset>
